service: "main:svc"
labels:
  owner: so1s
  stage: dev
include:
  - "*"
docker:
  system_packages:
    - git
    - libgl1-mesa-glx
    - libglib2.0-0
  distro: debian
  python_version: "3.8.12"
  dockerfile_template: "Dockerfile.template"
  env:
    - INPUT_TYPE={input_type}
    - OUTPUT_TYPE={output_type}
    - MODEL_NAME={model_name}
    - LIBRARY={library}
python:
    requirements_txt: "bento_requirements.txt"
